@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
box-sizing : border-box;
}
article, aside, footer, header, nav, section, main, figcaption, figure {
display : block;
}
body {
margin : 0;
padding : 0;
font-family : 'Helvetica', 'Arial', sans-serif;
font-size : 20px;
}

main {
background-image : url("images/sunny-winter.jpg");
background-size : cover;
}

nav {
display : flex;
justify-content : space-around;
align-items : center;
background-color : #F07C6C;
color : #47556F;
margin-top : -0.7em;
height : 40px;
position : fixed;
bottom : 0;
left : 0;
right : 0;
font-size : 15px;
}
div {
margin-top : -0.7em;
border : black solid 1px;
}
.title {
background-color : #A6D8DB;
}
.logo {
align-items : center;
height : 70px;
bottom : 30.5%;
left : 0;
right : 0;
background-color : #A6D8DB;
margin-bottom : 30px;
}
h1, h2, h3, h4, h5, h6 {
font-family : Sansita, "second choice", generic-family;
}
.cur-conditions {
background-color : rgba(200, 200, 200, 0.6);
margin : 0.5em auto;
border : solid 1px;
border-radius : 5px;
width : 280px;
}
nav a:link {
text-decoration : none;
color : #47556F;
}
nav a:visited {
text-decoration : none;
color : #47556F;
}
nav a:hover {
color : #E7EF61;
text-decoration : underline;
}
nav a:active {
color : #A6D8DB;
text-decoration : underline;
}
.title {
background-color : #A6D8DB;
}
p {
text-align : center;
font-weight : bold;
}
.rotate25 {
transform : rotate(25deg);
display : inline-block;
}
.hourly {
display : none;
}
.overview {
background-color : rgba(200, 200, 200, 0.6);
margin : 0.2em auto;
border : solid 1px;
border-radius : 5px;
text-align : left;
width : 220px;
}
.overview p {
display : flex;
justify-content : center;
}
.overview .temp {
font-size : 3.5em;
margin-top : 0;
margin-bottom : 0;
display : flex;
justify-content : center;
}
.overview h2 {
display : flex;
justify-content : center;
margin-top : 0.1em;
}
.wrap {
display : flex;
flex-direction : column-reverse;
}
@font-face {
{
font-family : "'Sansita'";
font-style : normal;
font-weight : 400;
src : local('Sansita Regular'), local('Sansita-Regular'), url(https://fonts.gstatic.com/s/sansita/v1/OIg80uztPzTvmaigz6QbovY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
unicode-range : U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F;
}
}
@font-face {
{
font-family : "'Sansita'";
font-style : normal;
font-weight : 400;
src : local('Sansita Regular'), local('Sansita-Regular'), url(https://fonts.gstatic.com/s/sansita/v1/hJSyxUQeTBqx_NJRx-g3LA.woff2) format('woff2');
unicode-range : U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF;
}
}
* {
box-sizing : border-box;
}
article, aside, footer, header, nav, section, main, figcaption, figure {
display : block;
}
body {
margin : 0;
font-family : 'Helvetica', 'Arial', sans-serif;
font-size : 20px;
}
main {
background-size : cover;
}
nav {
display : flex;
justify-content : space-around;
align-items : center;
background-color : #F07C6C;
color : #47556F;
margin-top : -0.7em;
height : 55px;
}
div {
margin-top : -0.7em;
border : black solid 1px;
}
h1, h2, h3, h4, h5, h6 {
font-family : Sansita, "second choice", generic-family;
}
.cur-conditions {
background-color : rgba(200, 200, 200, 0.6);
margin : 0.2em auto;
border : solid 1px;
border-radius : 5px;
text-align : left;
width : 400px;
height : 500px;
}
.cur-conditions h2 {
margin-top : 0.1em;
display : flex;
justify-content : center;
}
.cur-conditions h4 {
display : flex;
justify-content : center;
}
nav a:link {
text-decoration : none;
color : #47556F;
}
nav a:visited {
text-decoration : none;
color : #47556F;
}
nav a:hover {
color : #E7EF61;
text-decoration : underline;
}
nav a:active {
color : #A6D8DB;
}
p {
text-align : center;
font-weight : bold;
}
.rotate25 {
transform : rotate(25deg);
display : inline-block;
}
.hourly ul {
list-style-type : none;
}
.hourly {
background-color : rgba(200, 200, 200, 0.6);
margin : 0.5em auto;
border : solid 1px;
border-radius : 5px;
width : 500px;
height : 500px;
}
.hourly h2 {
display : flex;
justify-content : center;
margin-top : 0.1em;
}
.hourly ul {
position : relative;
top : 10%;
}
.overview {
background-color : rgba(200, 200, 200, 0.6);
margin : 0.2em auto;
border : solid 1px;
border-radius : 5px;
width : 500px;
height : 500px;
}
.overview p, h3 {
display : flex;
justify-content : center;
}
.overview h2 {
display : flex;
justify-content : center;
margin-top : 0.1em;
}
.title {
background-color : #A6D8DB;
}
.wrap {
display : flex;
justify-content : space-around;
align-items : center;
background-image : url(images/sunny-winter.jpg);
background-size : cover;
}
.logo {
background-color : #A6D8DB;
height : 100px;
margin : 0;
padding : 0;
}
@font-face {
{
font-family : "'Sansita'";
font-style : normal;
font-weight : 400;
src : local('Sansita Regular'), local('Sansita-Regular'), url(https://fonts.gstatic.com/s/sansita/v1/OIg80uztPzTvmaigz6QbovY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
unicode-range : U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F, U+0100-024F;
}
}
@font-face {
{
font-family : "'Sansita'";
font-style : normal;
font-weight : 400;
src : local('Sansita Regular'), local('Sansita-Regular'), url(https://fonts.gstatic.com/s/sansita/v1/hJSyxUQeTBqx_NJRx-g3LA.woff2) format('woff2');
unicode-range : U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF, U+0000-00FF;
}
}