* {
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
selection,
main,
figcaption,
figure {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: salmon;
}

#lw {
    margin-right: .75em;
    margin-top: auto;
}

#right {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#header {
    order: 1;
}

#main {
    order: 2;
}

#navi {
    order: 4;
}

#footer {
    order: 3;
}
#franklin{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}
